/node_modules
/public/hot
/public/storage
/packages/ads/core/vendor
/storage/*.key
/vendor
/packages/ads/core/vendor
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
